################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleQueue/obj
/SimpleQueue/bin/Debug/net8.0
/.vs
/SimpleQueue.Test/bin
/SimpleQueue.Test/obj
*.user
/SimpleQueue.InMemory/bin/Debug/net8.0
/SimpleQueue.InMemory/obj
/SimpleQueue.InMemory/obj/Debug/net8.0/ref/Queue.InMemory.dll
/SimpleQueue.InMemory.Test/bin/Debug/net8.0
/SimpleQueue.InMemory.Test/obj
/SimpleQueue.RabbitMQ/bin/Debug/net8.0
/SimpleQueue.RabbitMQ/obj
/SimpleQueue.RabbitMQ.Test/bin/Debug/net8.0
/SimpleQueue.RabbitMQ.Test/obj
/SimpleQueue.Demo/obj
/SimpleQueue.Demo/bin/Debug/net8.0
/SimpleQueue.Kafka/bin/Debug/net8.0
/SimpleQueue.Kafka/obj
/SimpleQueue.Kafka.Test/bin/Debug/net8.0
/SimpleQueue.Kafka.Test/obj
/SimpleQueue.AmazonSQS/obj
/SimpleQueue.AmazonSQS.Test/bin/Debug/net8.0
/SimpleQueue.AmazonSQS.Test/obj
/SimpleQueue.AmazonSQS/bin/Debug/net8.0
/SimpleQueue.Demo.Console/bin/Debug/net8.0
/SimpleQueue.Demo.Console/obj
/SimpleQueue.Demo.Web/bin/Debug/net8.0
/SimpleQueue.Demo.AppHost/bin/Debug/net8.0
/SimpleQueue.Demo.AppHost/obj
/SimpleQueue.Demo.ServiceDefaults/bin/Debug/net8.0
/SimpleQueue.Demo.ServiceDefaults/obj
/SimpleQueue.Demo.Web/obj
/Queue/obj
/Queue.AmazonSQS/obj
/Queue.AmazonSQS.Test/obj
/Queue.Demo.AppHost/obj
/Queue.Demo.Console/obj
/Queue.Demo.ServiceDefaults/obj
/Queue.Demo.Web/obj
/Queue.InMemory/obj
/Queue.InMemory.Test/obj
/Queue.Kafka/obj
/Queue.Kafka.Test/obj
/Queue.RabbitMQ/obj
/Queue.RabbitMQ.Test/obj
/Queue.Test/obj
/SimpleQueue/bin/Debug
/SimpleQueue.RabbitMQ/bin/Debug
