################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Queue/obj
/Queue/bin/Debug/net8.0
/.vs
/Queue.Test/bin
/Queue.Test/obj
*.user
/Queue.InMemory/bin/Debug/net8.0
/Queue.InMemory/obj
/Queue.InMemory/obj/Debug/net8.0/ref/Queue.InMemory.dll
/Queue.InMemory.Test/bin/Debug/net8.0
/Queue.InMemory.Test/obj
/Queue.RabbitMQ/bin/Debug/net8.0
/Queue.RabbitMQ/obj
/Queue.RabbitMQ.Test/bin/Debug/net8.0
/Queue.RabbitMQ.Test/obj
/Queue.Demo/obj
/Queue.Demo/bin/Debug/net8.0
/Queue.Kafka/bin/Debug/net8.0
/Queue.Kafka/obj
/Queue.Kafka.Test/bin/Debug/net8.0
/Queue.Kafka.Test/obj
/Queue.AmazonSQS/obj
/Queue.AmazonSQS.Test/bin/Debug/net8.0
/Queue.AmazonSQS.Test/obj
/Queue.AmazonSQS/bin/Debug/net8.0
